body{
	font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
	background-color: rgba(255,255,255,0.95);
}

header{
	height: 70px;
	border-bottom: 1px solid grey;
}

.post-container{
	margin-top: 5px;
}

.post{
	padding: 13px 12px;
	line-height: 17px;
}


.post:hover{
	background: #fcf5e2;
}

.search-box{
	float:right;
	padding-top:10px;
}

.post-user-image{
	float: right;
	display: inline-block;
	border-radius: 50%;
	height: 30px;
	width: 30px;
}


.url{
	display: inline-block;
	padding-top: 3px;
}

.productname{
	color: #534540;
	font-size: 20px;
	font-weight: 600;
	margin: 6px 2px 0 12px;
}

.producttagline{
	color: #999999;
font-size: 17px;
margin: 5px 0 0 12px;
display: block;
}

.upvote{
	display: inline-block;
	border-radius: 3px;
	float: left;
	width: 30px;
	height: 42px;
	text-align: center;
	cursor: pointer;
	background: #efefef;
	padding: 0 1px;
	border-bottom: 1px solid #bbbbbb;
}

.upvote .upvote-btn {
position: relative;
bottom: 5px;
display: inline-block;
width: 0px;
height: 0px;
border-bottom: 12px solid #534540;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-top: 12px solid transparent;
-webkit-transition: border-color 0.1s ease-in;
-moz-transition: border-color 0.1s ease-in;
-o-transition: border-color 0.1s ease-in;
transition: border-color 0.1s ease-in;
}


.vote-count{
	font-size: 12px;
display: block;
position: relative;
bottom: 4px;
color: #534540;
font-weight: 700;
-webkit-transition: color 0.1s ease-in;
-moz-transition: color 0.1s ease-in;
-o-transition: color 0.1s ease-in;
transition: color 0.1s ease-in;
}


.upvote:hover .upvote-btn{
	border-bottom: 12px solid #da552f;
    opacity: 0.7;
}


.links{
	float:right;
	dispaly:inline-block;
}

.voted {
	border-bottom: 12px solid #da552f;
	background: #da552f;
	opacity: 0.7;
}

.hidden-comments{
	visibility: hidden;
}

.comments{
width: 100%;
height: 100%;	
position:fixed; 
left:0;
top:0; 
z-index:100; 
}

.left-half{
	background-color:white;
	position:fixed;
	width: 50%;
	height: 100%;	
	left:0;
	top:0; 
	opacity: 0.5;
	float:left;
	z-index:100; 
}
.right-half{
	left:50%;
	width:50%;
	float:right;
	background-color:white;
	height: 100%;	
	position:fixed; 
	box-shadow: 0px 0px 0px 2px grey;
}

.who-posted{
	padding: 10px 10px;
	top: 0;
	background-color: #fcf5e2;	
}

.post-user-comment-image{
	display: inline-block;
	border-radius: 50%;
	height: 30px;
	width: 30px;
}

.product-name-comment-section{
	padding: 2px 6px;
	background-color: #fcf5e2;	
}

.red-color{
color: #da552f;
}

.comment-title{
	color: grey;
	padding: 2px 0px 0px 5px;
	font-size: 1.3em;
}

.all-comments{
	padding-left: 10px;
}

hr{
	margin-top: 5px;
	margin-bottom: 5px;
}

.comment-count{
	padding-left: 10px;
}

.each-comment{
	padding-left: 5px;
}

.each-comment .comment-title{
	padding-left: 50px;
}

.site-title{
	color: #da552f;
	line-height:10px;
}

.subtitle{
	font-size: 1.2em;
	padding-left: 33px;
	color: #999999;
	}

header{
	box-shadow: 0px 1px 0px 0px rgba(83,69,64,0.16),0px 1px 2px 0px rgba(0,0,0,0.1);
}

.search-form{
width: 170px;
border-radius: 40px;
background: white;
padding-left: 15px;
transition: all 0.2s ease;
box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.11),inset 0px 0px 0px 1px rgba(0,0,0,0.13);
background: #F7F7F7;
border-top: 1px solid #C4C4C4;
border-bottom: 1px solid #999999;
border-left: 1px solid #DADADA;
border-right: 1px solid #DADADA;
}

.wrapper{
	padding-top: 10px;
}

.detail-form-container{
	text-align:center;

}

#email-form{
	margin-top: 50px;
	background-color: #DADADA; 

	padding-top: 50px;
	padding-bottom: 50px;
}

.productaddform{

	background-color: #DADADA; 

}

.inputfield{
width: 300px;
height: 30px;
border-radius: 40px;
background: white;
padding-left: 15px;
transition: all 0.2s ease;
box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.11),inset 0px 0px 0px 1px rgba(0,0,0,0.13);
background: #F7F7F7;
border-top: 1px solid #C4C4C4;
border-bottom: 1px solid #999999;
border-left: 1px solid #DADADA;
border-right: 1px solid #DADADA;
}

.inputfieldname{
	font-size:1.2em;
	color: black;
}

.productaddform p{
	padding-top:20px;
	font-size: 1.7em;
	color:#da552f;
	align:center;
}

.productaddform .actions input{
	border-radius: 5px;
	font-size: 1.2em;
	height: 30px;
	background-color: #da552f; 
	color: #DADADA;
	margin-bottom: 20px;
}

.detailsaddform p{
	font-size: 1.7em;
	color:#da552f;
	align:center;
}

.detailsaddform .submit{
	border-radius: 5px;
	font-size: 1.2em;
	height: 30px;
	background-color: #da552f; 
	color: #DADADA;
	margin-bottom: 20px;
}

.btn{
	margin-top: 10px;
	padding: 10px;
	margin-right:10px;
	border-radius: 2px;
	font-size: 1.5em;
	height: 30px;
	background-color: #fcf5e2; 
	color: #DADADA;
	margin-bottom: 20px;
}

.notice{
	font-size: 1.3em;
	color:   #da552f;
}

.show-user-name{
	display: inline-block;
	border-radius: 50%;
	height: 120px;
	width: 120px;
}

.user-info{
	font-size: 1.2em;
}

.user-info strong{
	padding-left:50px;
}